.best-product-week {
  margin-top: 27px;
  position: relative;
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 7px;
    background-image: url(../img/bg-zigzag-line.svg);
    background-size: 320px 7px;
    background-position-x: -8px;
    background-repeat: repeat-x;
  }
}

.best-product-week__wrapper {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
  width: 320px;
}

.best-product-week__product-image {
  width: 260px;
  height: 315px;
}

.best-product-week__product-name {
  margin: 0;
}

.best-product-week__title {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  color: $bestProductWeekTitleColor;
  margin: 0;
  margin-top: 5px;
  text-transform: uppercase;
}

.best-product-week__product-description {
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  color: $basicFirstTextColor;
  margin: 0;
}

.best-product-week__description-wrapper {
  margin-top: 22px;
}

.best-product-week__table-text {
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  color: $basicFirstTextColor;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid $BorderColor;
  &_second-col {
    padding-left: 18px;
  }
}

.best-product-week__table-product-options {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
}

.best-product-week__price-wrapper {
  text-align: center;
  margin-top: 21px;
}

.best-product-week__product-price {
  display: block;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.41;
  color: $basicFirstTextColor;
  text-align: center;
}

.best-product-week__product-image {
  margin-top: 27px;
}

.best-product-week__link-to-order {
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  margin-top: 28px;
  color: $buttonTextColor;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 13px;
}

@media (min-width: $tabletWidth) {
  .best-product-week__wrapper {
    width: $tabletWidth;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
  }

  .best-product-week {
    margin-top: 47px;
  }

  .best-product-week__title-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .best-product-week__product-name {
    font-size: 43px;
    line-height: 50px;
  }

  .best-product-week__title {
    padding-left: 28px;
    padding-right: 28px;
    width: 125px;
    text-align: center;
    margin-top: 10px;
    line-height: 17px;
  }

  .best-product-week__description-wrapper {
    width: 292px;
    margin-top: 48px;
  }

  .best-product-week__product-description {
    font-size: 17px;
    line-height: 30px;
  }

  .best-product-week__price-wrapper {
    width: 292px;
  }

  .best-product-week__product-image {
    position: absolute;
    width: 333px;
    height: 404px;
    right: 50px;
    top: 78px;
  }

  .best-product-week__table-product-options {
    margin-top: 35px;
  }

  .best-product-week__table-text_second-col {
     padding-left: 0;
  }

  .best-product-week__link-to-order {
    padding-left: 101px;
    padding-right: 102px;
  }
}

@media (min-width: $desktopWidth) {
  .best-product-week {
    margin-top: 130px;
  }
  
  .best-product-week__product-name {
    order: 1;
    font-size: 53px;
    line-height: 57px;
  }

  .best-product-week__title-wrapper {
    justify-content: flex-start;
  }

  .best-product-week__title {
    padding-left: 47px;
    padding-right: 47px;
    margin-right: 10px;
  }

  .best-product-week__description-wrapper {
    margin-left: 175px;
  }

  .best-product-week__price-wrapper {
    margin-left: 175px;
  }

  .best-product-week__wrapper picture {
    width: 525px;
    height: 636px;
    right: 50px;
    top: -50px;
    z-index: -1;
  }

}