.best-product-week {
  margin-top: 30px;
  width: 100%;
}

.best-product-week__wrapper {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.best-product-week__product-name {
  margin: 0;
}

.best-product-week__title {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  color: $bestProductWeekTitleColor;
  margin: 0;
  margin-top: 8px;
  text-transform: uppercase;
}

.best-product-week__product-description {
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  color: $basicFirstTextColor;
  margin: 0;
  margin-top: 30px;
}

.best-product-week__table-text {
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  color: $basicFirstTextColor;
  padding-top: 10px;
  padding-bottom: 10px;
  &_second-col {
    padding-left: 30px;
  }
}

.best-product-week__table-product-options {
  margin-top: 22px;
  border-collapse: collapse;
  width: 100%;
}

.best-product-week__product-price {
  display: block;
  margin-top: 30px;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.41;
  color: $basicFirstTextColor;
  text-align: center;
}

.best-product-week__link-to-order {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  margin-top: 28px;
  color: $buttonTextColor;
}
