.catalog__title {
  margin: 0;
  margin-top: 76px;
  font-weight: bold;
  text-align: center;
  color: $basicSecondTextColor;
}

@media (max-width: $tabletWidth - 1) {
  .catalog__title {
    font-size: 27px;
    line-height: 30px;
  }
}

@media (min-width: $tabletWidth) {
  .catalog__main {
    padding-left: 50px;
    padding-right: 50px;
  }
}
