.main-nav__logo-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 30px;
  padding-right: 51px;
  padding-top: 22px;
  padding-bottom: 22px;
  border-bottom: 1px solid $BorderColor;
}

.main-nav__toggle {
  position: absolute;
  width: 21px;
  height: 20px;
  top: 0;
  bottom: 0;
  right: 30px;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  margin: auto;

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 20px;
    height: 14px;
    background: url("../img/icon-menu-open.svg") no-repeat;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 21px;
    height: 20px;
    background: url("../img/icon-menu-close.svg") no-repeat;
  }
}

.main-nav__toggle_close.main-nav__toggle::after {
  display: none;
}

.main-nav__toggle_open.main-nav__toggle::before {
  display: none;
}

.main-nav__list {
  margin: 0;
  padding: 0;
}

.main-nav__item {
  list-style-type: none;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 30px;
  border-bottom: 1px solid $BorderColor;
}

.main-nav__link {
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  color: $basicSecondTextColor;
  text-decoration: none;
  padding-left: 46px;
}

@media (min-width: $tabletWidth) {
  .main-nav {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 768px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
  }

  .main-nav__wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: -88px;
  }

  .main-nav__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__logo-wrapper {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 20px;
    padding-left: 0;
    border-bottom: none;
  }

  .main-nav__item {
    border-bottom: none;
  }
}

@media (min-width: $desktopWidth) {
  .main-nav {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .main-nav__logo-wrapper {
    margin: 0 auto;
    padding-top: 9px;
    padding-bottom: 7px;
    padding-right: 0;
  }

  .main-nav__wrapper {
    margin-top: -88px;
  }

  .main-nav__item {
    padding-top: 27px;
    padding-bottom: 27px;
  }
}
