.nav-list-additional {
  display: none;
}

.nav-list-additional__link {
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
  color: $basicSecondTextColor;

  &_delivery {
    font-weight: 400;
  }

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }
}

@media (min-width: $tabletWidth) {
  .nav-list-additional {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  .nav-list-additional__wrapper {
    order: 2;
    margin-left: auto;
    width: 334px;
  }

  .nav-list-additional__item {
    display: none;
    padding-top: 18px;

    &_delivery {
      display: block;
    }
  }
}

@media (min-width: $desktopWidth) {
  .nav-list-additional {
    justify-content: flex-start;
    width: 1050px;
    margin: 0 auto;
  }

  .nav-list-additional__wrapper {
    width: 100%;
    border-top: 1px solid $BorderColor;
    background-color: $elemBackgroundColor;
  }

  .index-body .nav-list-additional__wrapper {
    background-color: $indexTitleBackgroundColor;
  }

  .nav-list-additional__item {
    padding-top: 16px;
    padding-bottom: 30px;
    padding-left: 0;
    display: block;

    &_delivery {
      margin-left: auto;
    }
    &:not(:last-child) {
      margin-right: 60px;
    }
  }

  .nav-list-additional__link {
    font-size: 15px;
    padding-left: 0;
  }
}
