.nav-list {
  margin: 0;
}

.nav-list__item {
  list-style-type: none;
}

.nav-list__link {
  display: block;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.41;
  text-decoration: none;
  color: $basicSecondTextColor;
  padding-top: 32px;
  padding-bottom: 30px;
  padding-left: 76px;
  padding-right: 63px;
}
