.product-card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  margin-top: 60px;
  width: 260px;
}

.product-card__description-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  padding-left: 28px;
}

.product-card__link {
  width: 260px;
}

.product-card__name-link {
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  color: $basicSecondTextColor;
  text-decoration: none;
  margin-top: 30px;
  padding-right: 30px;
  max-width: 230px;
}

.product-card__description {
  font-size: 13px;
  font-weight: normal;
  line-height: 30px;
  color: $basicFirstTextColor;
  margin-top: 17px;
}

.product-card__price-wrapper {
  margin-top: 55px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.product-card__price {
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  color: $basicSecondTextColor;
}

.product-card__link-cart {
  width: 20px;
  height: 19px;
}

.product-card__cart-svg {
  margin-left: 100px;
  opacity: 0.2;
  width: 20px;
  height: 19px;
}

@media (min-width: $tabletWidth) {
  .product-card {
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    width: 668px;
  }

  .product-card__link {
    width: 334px;
    flex-shrink: 0;
  }

  .product-card__name-link {
    padding-right: 70px;
    font-size: 20px;
    line-height: 24px;
    max-width: 300px;
  }

  .product-card__price-wrapper {
    margin-top: auto;
    padding-bottom: 29px;
  }
}

@media (min-width: $desktopWidth) {
  .product-card {
    flex-direction: column;
    align-items: flex-start;
    width: 316px;
  }

  .product-card:not(:nth-child(3n+3)) {
    margin-right: 51px;
  }

  .product-card__name-link {
    padding-right: 50px;
    margin-top: 0;
    max-width: 285px;
  }

  .product-card__link {
    width: 316px;
    margin-bottom: 30px;
  }
  
  .product-card__description-wrapper {
    margin-top: auto;
    justify-content: flex-end;
    min-height: 148px;
  }
}

