.product-cards {
  margin-top: 29px;
}

.product-cards__list {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.product-cards__item {
  list-style-type: none;
}

@media (min-width: $tabletWidth) {
  .product-cards {
    margin-top: 80px;
  }

  .product-cards__container {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 0;
  }

  .product-cards__list {
    padding-left: 0;
    padding-right: 0;
  }
}


@media (min-width: $desktopWidth) {
  .product-cards__container {
    margin-top: 70px;
  }

  .product-cards {
    margin-top: 0;
  }

  .product-cards__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    padding-left: 0;
    padding-right: 0;
  }
}
