.site-button {
  display: inline-block;
  border: solid 2px hsl(0, 0%, 27%);
  background-color: rgb(255, 255, 255);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 45px;
  padding-right: 45px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: center;
  text-decoration: none;
}
