.site-header {
  padding-top: 22px;
  padding-left: 30px;
  padding-right: 30px;
}

.site-header__logo {
  display: block;
  margin-left: 85px;
  width: 86px;
  height: 35px;
}

@media (min-width: $tabletWidth) {
  .site-header {
    padding-left: 50px;
    padding-right: 50px;
  }

  .site-header__logo {
    position: relative;
    z-index: 5;
    margin: 0;
    width: 112px;
    height: 46px;
  }
}

@media (min-width: $desktopWidth) {
  .site-header__logo {
    margin: 0 auto;
    width: 149px;
    height: 72px;
  }
}