.site-header {
  /*padding-top: 22px;*/
}

.site-header__logo {
  display: block;
  width: 86px;
  height: 35px;
  margin-left: 20px;
}

@media (min-width: $tabletWidth) {
  .site-header {
    width: 100%;
    padding-top: 0;
  }

  .site-header__logo {
    position: relative;
    z-index: 5;
    margin: 0;
    width: 112px;
    height: 46px;
  }
}

@media (min-width: $desktopWidth) {
  .site-header {
    padding: 0;
  }

  .site-header__logo {
    margin: 0 auto;
    width: 149px;
    height: 72px;
  }
}