.site-footer {
  margin-top: 58px;
  padding-top: 26px;
  background-color: $footerBackgroundColor;
}

.site-footer__logo-wrapper {
  display: none;
}

@media (min-width: $tabletWidth) {
  .site-footer {
    margin-top: 65px;
    padding-top: 50px;
  }

  .site-footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 60px;
  }

  .site-footer__logo-wrapper {
    display: block;
  }
}

@media (min-width: $desktopWidth) {
  .site-footer {
    margin-top: 105px;
    padding-top: 50px;
  }
}
