$mainTitleTextColor: rgb(1, 0, 0);
$basicFirstTextColor: rgb(68, 68, 68);
$basicSecondTextColor: rgb(0, 0, 0);
$buttonTextColor: rgb(68, 68, 68);
$catalogNavTextColor: rgb(255, 255, 255);
$catalogNav1BackgroundColor: rgb(99, 209, 187);
$catalogNav2BackgroundColor: rgb(86, 195, 178);
$bestProductWeekTitleColor: rgb(99, 209, 187);
$mobileWidth: 320px;
$tabletWidth: 768px;
$desktopWidth: 1150px;
