$basicTextColor: hsl(0, 0%, 0%);
$paragraphTextColor: hsl(0, 0%, 27%);
$buttonTextColor: hsl(0, 0%, 27%);
$catalog-navTextColor: rgb(255, 255, 255);
$main__titleTextColor: hsl(0, 100%, 0%);
$catalog-nav1BackgroundColor: hsl(168, 54%, 60%);
$catalog-nav2BackgroundColor: hsl(171, 48%, 55%);
$best-product-weekTitleColor: hsl(168, 54%, 60%);

