$mainTitleTextColor: rgb(1, 0, 0);
$basicFirstTextColor: rgb(68, 68, 68);
$basicSecondTextColor: rgb(0, 0, 0);
$footerBackgroundColor: rgb(241, 241, 241);
$elemBackgroundColor:rgb(241, 241, 241);
$indexTitleBackgroundColor: rgb(249, 249, 249);
$buttonTextColor: rgb(68, 68, 68);
$headerBorderColor: rgb(236, 236, 236);
$catalogNavTextColor: rgb(255, 255, 255);
$catalogNav1BackgroundColor: rgb(99, 209, 187);
$catalogNav2BackgroundColor: rgb(86, 195, 178);
$bestProductWeekTitleColor: rgb(99, 209, 187);
$BorderColor: rgb(236, 236, 236);
$testColor1: red;
$testColor2: blue;
$mobileWidth: 320px;
$tabletWidth: 768px;
$desktopWidth: 1150px;
